.titreGestion {
  font-size: 55px;
  font-family: "Snell Roundhand";
  font-weight:bold;

  text-shadow:
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a;

  text-align:center;
}
