<ul class="nav justify-content-center">
  <li class="nav-item">
    <a routerLink="film1" class="film1 btn btn-outline-dark">Cendrillon</a>
  </li>
  <li class="nav-item">
    <a routerLink="film2" class="film2 btn btn-outline-dark">Aladdin</a>
  </li>
  <li class="nav-item">
    <a routerLink="film3" class="film3 btn btn-outline-dark">Cruella</a>
  </li>
  <li class="nav-item">
    <a routerLink="film4" class="film4 btn btn-outline-dark">La Belle et la Bête</a>
  </li>
  <li class="nav-item">
    <a routerLink="film5" class="film5 btn btn-outline-dark">Blanche-Neige et le Chasseur</a>
  </li>
</ul>

<div class="divFilms">
<router-outlet></router-outlet>
</div>
